*.nc
*.csv
*.tif
*.tiff
*.pkl
*.json
*.png
*.jpg
*.mp4
*.pyc
*.log	
*.zip
*.gz
*.pdf
*.pth
*__
*.ubj
source/old/
plots/
data/
source/sst/
source/preprocess/
source/model/
source/AutogluonModel_random_forest_VELOX/
source/training.zarr/
